<html>
<style>
html {
    height: 100%;
    scroll-behavior: smooth;
}

body{
    overflow: auto;
    height: 100%;
    font-size: 16px;
    line-height: 1.6;
}

#fullpage {
    height: 100vh;
}

.infos {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg_img_1{
    background-image: url(https://2020.igem.org/wiki/images/f/fa/T--CCU_Taiwan--Protocols.jpeg);
    padding-top: 68px;
}

.wordcenter{
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-size: 8rem;
    filter: none;
}

.shadow{
    text-shadow: 1px 1px 7px rgba(0, 0, 0, .9);
    box-shadow: 0 0 0 rgba(0,0,0,0)!important;
}

article,
section {
    display: block;
}

h1 {
    font-size: 2em;
    color: #fff;
    z-index: 100;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
    outline-width: 0;
}

@media (max-width: 850px) {
    .wordcenter {
        font-size: 7rem;
    }
}

@media (max-width: 750px) {
    .wordcenter {
        font-size: 6rem;
    }
}

@media (max-width: 650px) {
    .wordcenter {
        font-size: 5rem;
    }
}

.contents {
    padding: 2em 10%;
    text-align: center;
}


a:hover {
    text-decoration: none;
}

.mw-content-ltr ol, .mw-content-rtl .mw-content-ltr ol {
    margin: 0 0 0 1.5em;
}

.container {
    width: 100%;
    text-align: center;
    background-color: #efefef;
    border-radius: .3rem;
    display: inline-flex;
}

#slide-button1 {
    font-size: 1.8rem;
    border-bottom: 1px solid #efefef;
    padding: 0.5em;
    color: rgba(155,30,30);
}

#slide-button1:hover {
    cursor: pointer;
    font-weight: 600;
}

#slide-button2 {
    font-size: 1.8rem;
    border-bottom: 1px solid #efefef;
    padding: 0.5em;
}

#slide-button2:hover {
    cursor: pointer;
    font-weight: 600;
}

#slide-button3 {
    font-size: 1.8rem;
    border-bottom: 1px solid #efefef;
    padding: 0.5em;
    color: rgba(155,30,30);
}

#slide-button3:hover {
    cursor: pointer;
    font-weight: 600;
}

#slide-button4 {
    font-size: 1.8rem;
    border-bottom: 1px solid #efefef;
    padding: 0.5em;
}

#slide-button4:hover {
    cursor: pointer;
    font-weight: 600;
}

#slide-button5 {
    font-size: 1.8rem;
    border-bottom: 1px solid #efefef;
    padding: 0.5em;
    color: rgba(155,30,30);
}

#slide-button5:hover {
    cursor: pointer;
    font-weight: 600;
}

#slide-button6 {
    font-size: 1.8rem;
    border-bottom: 1px solid #efefef;
    padding: 0.5em;
}

#slide-button6:hover {
    cursor: pointer;
    font-weight: 600;
}

#slide-button7 {
    font-size: 1.8rem;
    border-bottom: 1px solid #efefef;
    padding: 0.5em;
    color: rgba(155,30,30);
}

#slide-button7:hover {
    cursor: pointer;
    font-weight: 600;
}

#slide-button8 {
    font-size: 1.8rem;
    border-bottom: 1px solid #efefef;
    padding: 0.5em;
}

#slide-button8:hover {
    cursor: pointer;
    font-weight: 600;
}

#slide-button9 {
    font-size: 1.8rem;
    border-bottom: 1px solid #efefef;
    padding: 0.5em;
    color: rgba(155,30,30);
}

#slide-button9:hover {
    cursor: pointer;
    font-weight: 600;
}

@media (max-width: 1150px) {
    #slide-button1,
    #slide-button2,
    #slide-button3,
    #slide-button4,
    #slide-button5,
    #slide-button6,
    #slide-button7,
    #slide-button8,
    #slide-button9 {
        font-size: 1.5rem;
    }
}
</style>
</html>
