<html>
<style>
html {
    height: 100%;
    scroll-behavior: smooth;
}

body{
    overflow: auto;
    height: 100%;
    font-size: 16px;
    line-height: 1.6;
}

#fullpage {
    height: 100vh;
}

.infos {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg_img_1{
    background-image: url(https://2020.igem.org/wiki/images/5/5d/T--CCU_Taiwan--Collaborations.jpeg);
    padding-top: 68px;
}

.wordcenter{
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-size: 8rem;
    filter: none;
}

.shadow{
    text-shadow: 1px 1px 7px rgba(0, 0, 0, .9);
    box-shadow: 0 0 0 rgba(0,0,0,0)!important;
}

article,
nav,
section {
    display: block;
}

h1 {
    font-size: 2em;
    color: #fff;
    z-index: 100;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    color: rgba(155,30,30);
}

a:active,
a:hover {
    outline-width: 0;
    color: rgba(155,30,30);
}


:target:before {
    content: "";
    display: block;
    height: 70px;
}

@media (max-width: 900px) {
    .section-nav,
    .section-nav ul,
    .section-nav ul ul,
    .section-nav li a,
    .section-nav-marker {
        display: none;
        visibility: hidden;
    }

    #text {
        padding: 2em;
    }
}

@media (max-width: 850px) {
    .wordcenter {
        font-size: 5.5rem;
    }
}

@media (max-width: 750px) {
    .wordcenter {
        font-size: 4.5rem;
    }
}

@media (max-width: 650px) {
    .wordcenter {
        font-size: 3.5rem;
    }
}

svg:not(:root) {
    overflow: hidden;
}

.section-nav {
    position: fixed;
    left: 3em;
    top: 5em;
    padding: 5em 1em 5em 0em;
    width: 13em;
    font-size: 18px;
    line-height: 2;
    padding-bottom: 50em;
}

.section-nav-marker {
    border-right: 1px solid #efefef;
    max-height: 25em;
}

@media (max-height: 600px) {
    .section-nav {
        padding: 2em 1em 12em 1em;
    }
}

@media (max-height: 500px) {
    .section-nav,
    .section-nav ul,
    .section-nav ul ul,
    .section-nav li a,
    .section-nav-marker {
        display: none;
        visibility: hidden;
    }
}

.section-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.section-nav ul ul {
    padding-left: 2em;
}

.section-nav li a {
    display: inline-block;
    color: #aaa;
    text-decoration: none;
    -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.section-nav li.visible > a {
    color: rgba(155,30,30);
    font-weight: 500;
    -webkit-transform: translate(5px);
    transform: translate(5px);
}

.section-nav li a:hover {
    color: rgba(155,30,30,.8);
    font-weight: 550;
}

.section-nav-marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.contents {
    padding: 1em 2em 2em 17em;
    max-width: 1400px;
    font-size: 1.2em;
}

.contents h2 h3 {
    padding-top: 1em;
}

h2 {
    color: rgba(155,30,30);
    font-weight: 600;
}

h3 {
    font-weight: 550;
}

/*photos*/
.rwd_slider_container_wrapper {
    max-width: 90%;
    box-sizing: border-box;
    box-shadow: #666 0 0 5px;
    padding: 20px;
    margin: 0 auto;
    height: 60%;
}
.rwd_slider_container {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    box-sizing: border-box;
    padding-bottom: calc(55% + 80px);
}
.rwd_slider_container .slider_container {
    box-shadow: none;
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90%;
    margin: 0;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
}
.rwd_slider_container .slider_container div {
    width: 100%;
    line-height: 0;
    text-align: center;
}
.rwd_slider_container .slider_container span {
    top: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.slider_container div {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-animation: round 20s linear infinite;
            animation: round 20s linear infinite;
}

@-webkit-keyframes round {
    5% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    25% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    30% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}
@keyframes round {
    5% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    25% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    30% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

.slider_container div:nth-child(1) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
}

.slider_container div:nth-child(2) {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
}

.slider_container div:nth-child(3) {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
}

.slider_container div:nth-child(4) {
    -webkit-animation-delay: 15s;
            animation-delay: 15s;
}

.slider_container span {    
    color: rgba(155,30,30);
    background: #efefef;
    position: absolute;
    left: 0%;
    top: 280px;
    width: 100%;
    height: 100px;
    font-size: 20px;
    text-align: center;
    line-height: 100px;
    -webkit-transform:scaleY(0);
        -ms-transform:scaleY(0);
            transform:scaleY(0);
    -webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
}

.slider_container:hover span {
    width: 100%;
    -webkit-transform:scaleY(1);
        -ms-transform:scaleY(1);
            transform:scaleY(1);
}
.slider_container:hover div {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
}

#imginfo1 {
    max-width: 100%;
}

#imginfo {
    text-align: center;
}

#imginfo2 {
    text-align: center;
    display: inline-block;
    max-width: 45%;
}

#imginfo3 {
    display: inline-block;
}

@media (max-width: 1100px) {
    .slider_container span {
        font-size: 16px;
    }
}

@media (max-width: 800px) {
    .slider_container span {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .slider_container span {
        font-size: 10px;
    }
    #imginfo2 {
        display: block;
        max-width: 100%
    }
    #imginfo3 {
        max-width: 50%;
    }
}

#csmu a[href ="https://2020.igem.org/Team:CCU_Taiwan/Education"]:hover, .link-https:hover {
    background: none; !importment
}

#iiser a[href ="https://2020.igem.org/Team:CCU_Taiwan/Education"]:hover, .link-https:hover {
    background: none; !importment
}

#phd a[href ="https://2020.igem.org/Team:CCU_Taiwan/Education"]:hover, .link-https:hover {
    background: none; !importment
}


</style>
</html>
